## About
#### Data has been taken from kaggle , it is a record of second hand cars sold in India, by CarDekho.
##### Link for dataset - 

## Ask
#### We need to ask:-
####      What are the car companies that operate in India?
####      Which car is owned by most?
####      Which kind of sellers are most successfull?
####      What affected sales of cars?

In [11]:
import pandas as pd
import numpy as np

In [12]:
c = pd.read_csv("./../Datasets/Cars.csv")

In [13]:
c.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

### Cleaning the data

In [14]:
# before cleaning
c.shape

(8128, 13)

In [15]:
c[c.isna().any(axis=1)]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
13,Maruti Swift 1.3 VXi,2007,200000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
31,Fiat Palio 1.2 ELX,2003,70000,50000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
78,Tata Indica DLS,2003,50000,70000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
87,Maruti Swift VDI BSIV W ABS,2015,475000,78000,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
119,Maruti Swift VDI BSIV,2010,300000,120000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
138,BMW X1 sDrive 20D xLine,2017,2150000,27000,Diesel,Dealer,Automatic,First Owner,NaN,NaN,NaN,NaN,NaN
200,Toyota Etios GD,2012,235000,120000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
206,Maruti Omni E 8 Str STD,2003,40000,90000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
228,Maruti Swift 1.3 VXi,2008,130000,120000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
252,Tata Indica DLS,2005,75000,110000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
306,Maruti Swift 1.3 VXi,2010,215000,70000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
316,Mahindra Willys CJ 3B 4X4,1983,300000,10000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
336,Hyundai Santro Xing XL,2005,85000,60000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
390,Toyota Etios Liva Diesel TRD Sportivo,2012,265000,162000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
516,Maruti Swift VDI BSIV,2010,330000,110000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
535,Maruti Estilo LXI,2010,160000,50000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
539,Maruti Swift VDI BSIV,2008,229999,50000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
575,Maruti Alto K10 LXI,2011,204999,97500,Petrol,Individual,Manual,First Owner,NaN,NaN,0,NaN,NaN
576,Maruti Alto K10 LXI,2011,204999,97500,Petrol,Individual,Manual,First Owner,NaN,NaN,0,NaN,NaN
688,Hyundai Santro Xing XG,2006,72000,110000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
725,Toyota Etios GD,2012,300000,120000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
743,Maruti Swift 1.3 VXi,2006,140000,65000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
744,Mahindra Bolero GLX,2004,250000,80000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
747,Maruti Zen Estilo VXI BSIV W ABS,2011,170000,55113,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
756,Hyundai Santro Xing XP,2003,50000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
774,Hyundai Santro GLS I - Euro I,1999,80000,110000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
776,Skoda Superb 1.8 TSI,2010,400000,60000,Petrol,Individual,Automatic,Second Owner,NaN,NaN,NaN,NaN,NaN
862,Maruti Esteem Vxi - BSII,2005,50000,60000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
992,Mahindra Xylo E8 BS4,2010,300000,40000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
1015,Fiat Punto 1.3 Emotion,2013,350000,160254,Diesel,Dealer,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6934,Tata Indica Vista Aqua 1.3 Quadrajet (ABS),2012,250000,100000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7012,Hyundai Santro Xing ABS,2007,100000,70000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7086,Toyota Etios Liva G,2012,200000,120000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7127,Hyundai Santro Xing ABS,2010,140000,40000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7179,Maruti Swift 1.3 VXi,2010,175000,83000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7208,Hyundai Santro Xing XO,2005,99000,89500,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7272,Tata Indica DLS,2005,60000,100000,Diesel,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN
7275,Maruti Estilo LXI,2009,155000,63000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7302,Toyota Etios VD,2012,400000,74500,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7358,Maruti Swift 1.3 LXI,2005,170000,50000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7361,Maruti Swift VDI BSIV,2010,352000,72179,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7373,Maruti Swift VDI BSIV W ABS,2016,595000,77321,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7422,Hyundai Accent Gvs,2003,70000,120000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7433,Maruti Swift 1.3 VXi,2009,198000,91000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7437,Maruti Swift VDI BSIV W ABS,2010,300000,70000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7454,Ford Figo Aspire Facelift,2018,624000,14681,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7473,Maruti Esteem Lxi,2002,95000,90000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7528,Maruti Estilo LXI,2008,160000,56000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7538,Fiat Palio 1.2 ELX,2003,70000,50000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7581,Maruti Swift 1.3 ZXI,2006,229999,110000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7582,Maruti Swift 1.3 VXi,2006,215000,90000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN
7595,Hyundai Santro Xing XL eRLX Euro II,2006,105000,60000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
7651,Maruti Swift VDI BSIV,2014,217000,50000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7730,Maruti Omni E 8 Str STD,2008,125000,70000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN
7740,Hyundai Santro Xing XG,2004,70000,70000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
7846,Toyota Qualis Fleet A3,2000,200000,100000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
7996,Hyundai Santro LS zipPlus,2000,140000,50000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8009,Hyundai Santro Xing XS eRLX Euro III,2006,145000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8068,Ford Figo Aspire Facelift,2017,580000,165000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
8103,Maruti Swift 1.3 VXi,2006,130000,100000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN

#### So we see here that 222 rows are having NaN values and these values mostly account for columns-[ owner	mileage	engine	max_power	torque	seats] 
#### As these values are pure technical values so we can't impute by ourself. Impute means taking some avaerage and putting the average at places where its NaN . Also cars cost varies irrespective of seats and engine , sometimes it might be a brand value so we will not impute any data over here, and go for removing any row which has NaN values.
#### 222 rows are 2% of data so we can safely remove that.

In [16]:
#dropping na - not available datas
c.dropna(inplace=True)

In [17]:
#Afrer dropping na values
c.shape

(7906, 13)

In [18]:
#Just checking if any rows is having null values
c.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

##### As we can see there is drop in rows from 8128 to 7906 and we have successfully reomed all na/null  values

In [19]:
c.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

## Processing
### As we can see these are the factors that are for analyzing
####  First we need to make name split  into brand and model columns so that we can better position our analysis

In [20]:
c[["Brand","Model"]]=c['name'].str.split(" ",1,expand=True)

#### We need to drop column name with name just to make things clear

In [21]:
c.drop('name', inplace=True, axis=1)

In [22]:
c.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,Brand,Model
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti,Swift Dzire VDI
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda,Rapid 1.5 TDI Ambition
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Honda,City 2017-2020 EXi
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,Hyundai,i20 Sportz Diesel
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti,Swift VXI BSIII

#### Lets see few stats for our dataframe

In [23]:
# description all data or say summary 
c.describe()

              year  selling_price     km_driven        seats
count  7906.000000   7.906000e+03  7.906000e+03  7906.000000
mean   2013.983936   6.498137e+05  6.918866e+04     5.416393
std       3.863695   8.135827e+05  5.679230e+04     0.959208
min    1994.000000   2.999900e+04  1.000000e+00     2.000000
25%    2012.000000   2.700000e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.900000e+05  9.542500e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

### As you can see above:-
#####  Count is 7906 which is also written as 7.9096000e+03 e simply means 10 multiplied to a number  and +03 means to power 3 . So 7.90600 * 1000= 7906
#### In mean, we see that its even taking out mean for year and seats which is  not ideal so we will convert year to string or say categorical data('2014','2016" and so on)
#### std is standard deviation

####  min is the minimun of every column 
####  25% value for any column means that the value(2.700000e+05)(selling_price) specified is greater than 25% of values in that column
####  Similarly 50%(4.500000e+05)(selling_price)  and 75%(6.900000e+05)(selling_price) denote that value is greater than 50% and 75% of values in column respectively

#### max is maximum value of that column

In [24]:
c.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats', 'Brand', 'Model'],
      dtype='object')

In [25]:
#One way of accessing a column and knowing data type of it
c.year.dtype

dtype('int64')

In [26]:
#Another way of accessing a column and knowing data type of it
c['seats'].dtype

dtype('float64')

In [27]:
c["year"] = c["year"].apply(str)

In [28]:
c.seats=c.seats.apply(str)

In [29]:
c.year[0]

'2014'

In [30]:
c.seats[0]

'5.0'

In [31]:
c.describe()

       selling_price     km_driven
count   7.906000e+03  7.906000e+03
mean    6.498137e+05  6.918866e+04
std     8.135827e+05  5.679230e+04
min     2.999900e+04  1.000000e+00
25%     2.700000e+05  3.500000e+04
50%     4.500000e+05  6.000000e+04
75%     6.900000e+05  9.542500e+04
max     1.000000e+07  2.360457e+06

#### So we made seats and year into categorical values by converting the column to string 
#### Now lets look again what columns we have at our disposal to analyse

In [32]:
# Yes, we can give a number inside head , by default c.head() will return only 5 rows
c.head(10)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,Brand,Model
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti,Swift Dzire VDI
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda,Rapid 1.5 TDI Ambition
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Honda,City 2017-2020 EXi
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,Hyundai,i20 Sportz Diesel
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti,Swift VXI BSIII
5,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0,Hyundai,Xcent 1.2 VTVT E Plus
6,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0,Maruti,Wagon R LXI DUO BSIII
7,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0,Maruti,800 DX BSII
8,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0,Toyota,Etios VXD
9,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0,Ford,Figo Diesel Celebration Edition

##### What we observe here that mileage should be a float (ex- 23.9 ) and not a string in order to calculate

In [33]:
#looking at only mileage now
c.mileage[0:3]

0     23.4 kmpl
1    21.14 kmpl
2     17.7 kmpl
Name: mileage, dtype: object

##### So we can see that pattern of mileage is a number followed by a space and kmpl . We will remove kmpl and keep only number and convert it to float

In [34]:
#checking data type of mileage => 'O'     (Python) objects
c.mileage.dtype

dtype('O')

In [35]:
#Renaming mileage to mileage_kmpl for context
c.rename(columns = {'mileage':'mileage_kmpl'}, inplace = True)

In [36]:
c.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage_kmpl', 'engine', 'max_power',
       'torque', 'seats', 'Brand', 'Model'],
      dtype='object')

In [37]:
d=c

In [38]:
d[["mileage_kmpl","ext"]]=c['mileage_kmpl'].str.split(" ",1,expand=True)

In [39]:
d.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_kmpl,engine,max_power,torque,seats,Brand,Model,ext
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti,Swift Dzire VDI,kmpl
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda,Rapid 1.5 TDI Ambition,kmpl
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Honda,City 2017-2020 EXi,kmpl
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,Hyundai,i20 Sportz Diesel,kmpl
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti,Swift VXI BSIII,kmpl

In [40]:
d.drop(["ext"],axis=1,inplace=True)

In [41]:
d.mileage_kmpl.dtype

dtype('O')

In [42]:
e=d  
e['mileage_kmpl']=d['mileage_kmpl'].astype(float, errors = 'raise')

In [43]:
e.mileage_kmpl.dtype

dtype('float64')

In [44]:
e.head(2)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_kmpl,engine,max_power,torque,seats,Brand,Model
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti,Swift Dzire VDI
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda,Rapid 1.5 TDI Ambition

## Analyze

In [45]:
#Lets know what kind of data is held by each column we are interested in
#Fuel
e.fuel.unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [46]:
#Seller Type
e.seller_type.unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [47]:
#Owner
e.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [48]:
#Year
e.year.unique()

array(['2014', '2006', '2010', '2007', '2017', '2001', '2011', '2013',
       '2005', '2009', '2016', '2012', '2002', '2015', '2018', '2019',
       '2008', '2020', '1999', '2000', '2003', '2004', '1994', '1998',
       '1997', '1995', '1996'], dtype=object)

In [49]:
#Brand
e.Brand.unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [50]:
#ransmission
e.transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [51]:
#Engines variety
e.engine.unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC', '1368 CC',
       '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC', '2755 CC',
       '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC', '1998 CC',
       '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC', '999 CC',
       '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC', '1451 CC',
       '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC', '2362 CC',
       '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC', '1193 CC',
       '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC', '2956 CC',
       '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC', '2354 CC',
       '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC', '1997 CC',
       '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC', '2609 CC',
       '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC', '2199 CC',
       '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC', '2393 CC',
       '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC', '2496 CC',
       '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC', '1590 CC',
       '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC', '1796 CC',
       '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC', '1781 CC',
       '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC', '2776 CC',
       '1950 CC'], dtype=object)

In [52]:
#count of brand
e.Brand.value_counts()

Maruti           2367
Hyundai          1360
Mahindra          758
Tata              719
Honda             466
Toyota            452
Ford              388
Chevrolet         230
Renault           228
Volkswagen        185
BMW               118
Skoda             104
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               41
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Opel                1
Ashok               1
Name: Brand, dtype: int64

In [53]:
# count of brands with respect to a year
brands_years=e.groupby(['year','Brand']).size()

In [54]:
brands_years

year  Brand
1994  Ambassador         1
      Maruti             1
1995  Maruti             1
1996  Maruti             2
1997  Maruti             9
1998  Maruti             8
      Opel               1
1999  Maruti            11
      Mitsubishi         3
2000  Ambassador         1
      Daewoo             2
      Maruti            10
      Mitsubishi         1
      Tata               1
2001  Daewoo             1
      Maruti             5
2002  Honda              1
      Hyundai            1
      Maruti            15
      Tata               1
      Toyota             1
2003  Ford               3
      Hyundai            5
      Mahindra           5
      Maruti            22
      Skoda              1
      Toyota             1
2004  Ford               2
      Honda              6
      Hyundai            4
                      ...
2019  Honda             58
      Hyundai           82
      Isuzu              3
      Jeep               7
      Kia                2
      Land               4
      Lexus             34
      MG                 2
      Mahindra          42
      Maruti           142
      Mercedes-Benz      2
      Nissan             4
      Renault           22
      Skoda              3
      Tata              29
      Toyota             6
      Volkswagen        12
      Volvo             31
2020  BMW                1
      Datsun             2
      Ford               1
      Honda              2
      Hyundai           10
      Kia                2
      MG                 1
      Mahindra           5
      Maruti            33
      Tata               9
      Toyota             5
      Volkswagen         3
Length: 290, dtype: int64

In [55]:
# count of cars with respect to fuel
fuel_cars=e.fuel.value_counts()

In [56]:
fuel_cars

Diesel    4299
Petrol    3520
CNG         52
LPG         35
Name: fuel, dtype: int64

In [57]:
#Count of seller type
seller=e.seller_type.value_counts()
seller

Individual          6563
Dealer              1107
Trustmark Dealer     236
Name: seller_type, dtype: int64

In [58]:
#Count of type of owners
owners=e.owner.value_counts()
owners

First Owner             5215
Second Owner            2016
Third Owner              510
Fourth & Above Owner     160
Test Drive Car             5
Name: owner, dtype: int64

In [59]:
#Relationship between type of owners and brands to know which brands are more taken by owners and car value in long run
owners_brands=e.groupby(['owner','Brand']).size()
owners_brands

owner                 Brand
First Owner           Audi               28
                      BMW               101
                      Chevrolet         113
                      Daewoo              3
                      Datsun             57
                      Fiat               24
                      Force               4
                      Ford              252
                      Honda             340
                      Hyundai           882
                      Isuzu               5
                      Jaguar             70
                      Jeep               30
                      Kia                 4
                      Land                5
                      Lexus              34
                      MG                  3
                      Mahindra          487
                      Maruti           1518
                      Mercedes-Benz      37
                      Mitsubishi          6
                      Nissan             53
                      Renault           180
                      Skoda              68
                      Tata              464
                      Toyota            273
                      Volkswagen        108
                      Volvo              66
Fourth & Above Owner  Audi                1
                      BMW                 1
                                       ...
Second Owner          Renault            40
                      Skoda              28
                      Tata              193
                      Toyota            148
                      Volkswagen         56
                      Volvo               1
Test Drive Car        Audi                3
                      Honda               1
                      Volkswagen          1
Third Owner           Ambassador          1
                      Audi                1
                      BMW                 1
                      Chevrolet          25
                      Datsun              1
                      Fiat                5
                      Ford               22
                      Honda              34
                      Hyundai            78
                      Land                1
                      Mahindra           49
                      Maruti            179
                      Mercedes-Benz       3
                      Mitsubishi          2
                      Nissan              6
                      Opel                1
                      Renault             8
                      Skoda               8
                      Tata               49
                      Toyota             22
                      Volkswagen         14
Length: 88, dtype: int64

In [60]:
#Here we can see that maruti has been bought most by all kinds of owners 
owners_brands.sort_values(ascending=False)

owner                 Brand
First Owner           Maruti           1518
                      Hyundai           882
Second Owner          Maruti            609
First Owner           Mahindra          487
                      Tata              464
Second Owner          Hyundai           363
First Owner           Honda             340
                      Toyota            273
                      Ford              252
Second Owner          Mahindra          208
                      Tata              193
First Owner           Renault           180
Third Owner           Maruti            179
Second Owner          Toyota            148
First Owner           Chevrolet         113
Second Owner          Ford              109
First Owner           Volkswagen        108
                      BMW               101
Second Owner          Honda              90
                      Chevrolet          81
Third Owner           Hyundai            78
First Owner           Jaguar             70
                      Skoda              68
                      Volvo              66
Fourth & Above Owner  Maruti             61
First Owner           Datsun             57
Second Owner          Volkswagen         56
First Owner           Nissan             53
Third Owner           Mahindra           49
                      Tata               49
                                       ...
Second Owner          Mitsubishi          6
First Owner           Land                5
                      Isuzu               5
Fourth & Above Owner  Ford                5
Third Owner           Fiat                5
First Owner           Kia                 4
                      Force               4
Third Owner           Mercedes-Benz       3
First Owner           MG                  3
                      Daewoo              3
Second Owner          Ambassador          3
Test Drive Car        Audi                3
Third Owner           Mitsubishi          2
Second Owner          Force               2
Third Owner           Opel                1
                      Land                1
Second Owner          Ashok               1
Fourth & Above Owner  Honda               1
Third Owner           Datsun              1
                      BMW                 1
                      Audi                1
                      Ambassador          1
Test Drive Car        Volkswagen          1
Second Owner          Volvo               1
Fourth & Above Owner  Nissan              1
Second Owner          Jeep                1
                      Jaguar              1
Fourth & Above Owner  Audi                1
                      BMW                 1
Test Drive Car        Honda               1
Length: 88, dtype: int64

In [62]:
#fuel and brands
fuel_brands=e.groupby(['fuel','Brand']).size()
fuel_brands

fuel    Brand
CNG     Hyundai             4
        Maruti             47
        Tata                1
Diesel  Ambassador          4
        Ashok               1
        Audi               35
        BMW               115
        Chevrolet         129
        Fiat               33
        Force               6
        Ford              287
        Honda             139
        Hyundai           528
        Isuzu               5
        Jaguar             71
        Jeep               20
        Kia                 4
        Land                6
        Mahindra          726
        Maruti            860
        Mercedes-Benz      40
        Mitsubishi         14
        Nissan             48
        Renault           109
        Skoda              58
        Tata              530
        Toyota            334
        Volkswagen        131
        Volvo              66
LPG     Chevrolet           2
        Hyundai            14
        Maruti             19
Petrol  Audi                5
        BMW                 3
        Chevrolet          99
        Daewoo              3
        Datsun             65
        Fiat                8
        Ford              101
        Honda             327
        Hyundai           814
        Jeep               11
        Lexus              34
        MG                  3
        Mahindra           32
        Maruti           1441
        Mercedes-Benz      14
        Nissan             33
        Opel                1
        Renault           119
        Skoda              46
        Tata              188
        Toyota            118
        Volkswagen         54
        Volvo               1
dtype: int64

In [ ]:
# Since we know which brands are most sold, we need to analyse why?
#first_owners first

## Visualisation

In [72]:
import matplotlib.pyplot as plt

In [73]:
import seaborn as sns